<html>
  <head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
     <h2> Edit task </h2>
<form action ="/edittask" method="POST">
       <input type="text" name="edittask" placeholder="Edit Task"><br><br>       
       <button type="submit"> Edit Task </button>
</form>
</div>
</body>
</html>